div {
  outline: none !important;
}

.copyright {
  margin-top: 10vh;
  font-size: 2vh;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  display: inline-block;
  width: 70%;
}

@media (prefers-reduced-motion: no-preference) {
  .game-border.rotating {
    animation: game-border-spin infinite 31s linear;
  }

  .dirt-border.rotating {
    animation: game-border-spin infinite 31s linear;
  }

  .sq-1 {
    animation: sq2-spin infinite .6s linear;
    animation-direction: alternate-reverse;
  }

  .sq-2 {
    animation: sq2-spin infinite .6s linear;
    animation-direction: alternate;
  }

  .sq-1-rules {
    animation: sq2-spin infinite .6s linear;
    animation-direction: alternate-reverse;
  }

  .sq-2-rules {
    animation: sq2-spin infinite .6s linear;
    animation-direction: alternate;
  }

  .sq4 {
    animation: shimmer 1.5s infinite linear;
  }

  .sq4-rules {
    animation: shimmer 1.5s infinite linear;
  }
}
/*aaeeff*/
.App-header {
  background-color: #333333c4;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3%;
}

.game {
  background-color: #333333c4;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.ocean-border {
  border-radius: 40% 20% 10% 80% / 30% 80% 20% 20%;
  position: absolute;
  width: 90%;
  display: flex;
  background: radial-gradient(ellipse at 35% 30%, #0cf 0%, #0033dddd 70%);
  filter: blur(100px);
  flex-direction: column;
  aspect-ratio: 1 / 1;
}

.game-border {
  position: relative;
  width: 70%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #223011 90%);
  border-radius: 40% 20% 10% 80% / 30% 80% 20% 20%;
  box-shadow: 0px 60px 60px rgba(0,0,0,.8);
}

.dirt-border {
  position: absolute;
  width: 50%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(ellipse at 35% 30%, white 0%, brown 90%);
  border-radius: 40% 20% 10% 80% / 30% 80% 20% 20%;
  box-shadow: 0px 60px 60px rgba(0,0,0,.8);
}

.controls {
  position: absolute;
  width: 90%;
  display: flex;
  background: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.control-up {
  border-radius: 100% 100% 35% 35% / 100%;
  width: 8%;
  background: radial-gradient(ellipse at 50% 30%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.control-down {
  border-radius: 100% 100% 35% 35% / 100%;
  width: 8%;
  background: radial-gradient(ellipse at 50% 30%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  transform: rotate(180deg);
  cursor: pointer;
}

.control-left {
  border-radius: 100% 35% 35% 100% / 100%;
  height: 100%;
  background: radial-gradient(ellipse at 30% 50%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.control-right {
  border-radius: 100% 35% 35% 100% / 100%;
  height: 100%;
  background: radial-gradient(ellipse at 30% 50%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  transform: rotate(180deg);
  cursor: pointer;
}

.control-spacer {
  width: 8%;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

.control-spacer-row {
  height: 100%;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

.control-spacer-middle {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  height: 7.7%;
}

.game-board {
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
}

.App-footer {
  background-color: #333333c4;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2vh;
  margin-top: 5vh;
}

@keyframes game-border-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sq2-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes shimmer {
  from {
    background-position: 0%;
  }
  to {
    background-position: 300%;
  }
}

body {
  background: #333333;
}

* {
  box-sizing: border-box;
}

h1 {
  z-index: 1;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: radial-gradient(ellipse at center top, #88BB11 0%, #447711 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

.grid-cell {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.square {
  height: 95%;
  aspect-ratio: 1 / 1;
}

.sq1 {
  border-radius: 80% 20% 30% 20% / 30% 10% 20% 60%;
  border-style: solid;
  border-color: #222b;
  background: radial-gradient(ellipse at 35% 30%, #aaa 0%, #111d 70%);
  box-shadow: 0px 30px 30px  #111d;
  cursor: pointer;
}

.sq-1 {
  border-radius: 80% 20% 30% 20% / 30% 10% 20% 60%;
  border-style: solid;
  border-color: white;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #111d 70%);
  box-shadow: 0px 30px 30px  #111d;
  cursor: pointer;
}

.sq2 {
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;
  border-style: solid;
  border-color: #0044eebb;
  background: radial-gradient(ellipse at 35% 30%, #0cf 0%, #0033dddd 70%);
  box-shadow: 0px 30px 30px #03dd;
  cursor: pointer;
}

.sq-2 {
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;
  border-style: solid;
  border-color: white;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #0033dddd 70%);
  box-shadow: 0px 30px 30px #03dd;
  cursor: pointer;
}

.sq0 {
  vertical-align: middle;
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;;
  border-color: #aaa;
  background: radial-gradient(ellipse at 35% 30%, #ddaa00 0%, #aa6600 70%);
  box-shadow: 0px 30px 30px #111d;
  height: 50%;
  aspect-ratio: 1 / 1;
  cursor: auto;
}

.sq3 {
  background: transparent;
}

.sq4 {
  border-radius: 50%;
  border-style: solid;
  border-color: #fffa;
  background: linear-gradient(135deg, transparent 30%, #fafafa 50%, transparent 30%);
  background-size: 300%;
  box-shadow: 0px 30px 30px #dddd;
}

.board-row {
  width: 100%;
  display: flex;
  flex: 1;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.app-title {
  font-size: 20vw;
}

.App-setting {
  display: table;
  flex: 1;
}

.App-settings {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width: 70%;
}

.app-setting-title {
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  font-size: 10vw;
}

.app-setting-subtitle {
  font-family: Future;
  margin-top: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  font-size: 7vw;
}

.app-setting-desc {
  color: #ddd;
  font-family: Future;
  margin-top: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  font-size: 6vw;
}

.App-settings-buttons {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-settings-buttons .App-setting {
  margin-left: 4vw;
}

.App-setting-hidden {
  display: none;
}

.app-setting-label {
  font-family: Future;
  font-size: 8vw;
  display: table-cell;
  vertical-align: middle;
}

.app-setting-checkbox {
  display: table-cell;
  vertical-align: middle;
  margin: 1vw 1vw 1vw 2vw;
  width: 10vw;
  aspect-ratio: 1 / 1;
  box-shadow: 5px 7px 30px #000;
}

.app-setting-text {
  display: table-cell;
  vertical-align: middle;
  margin: 1vw 1vw 1vw 2vw;
  width: 10vw;
  aspect-ratio: 1 / 1;
  box-shadow: 5px 7px 30px #000;
  font-size: 8vw;
}

.App-setting-button {
  border-radius: 10%;
  background: radial-gradient(ellipse at 35% 30%, #0cf 0%, #0033dddd 70%);
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
}

.App-setting-button-play {
  border-radius: 10%;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #223011 90%);
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
}

.App-setting-button-store {
  border-radius: 10%;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #0a5f3e 90%);
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
}

.App-setting-button-recall {
  border-radius: 10%;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #d8700f 90%);
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
}

.App-setting-button-clear {
  border-radius: 10%;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #ff0707 90%);
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
}

.App-setting-button-rotate {
  border-radius: 1vw;
  padding: 10px;
  box-shadow: 10px 10px 10px #000;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #aaa 90%);
  cursor: pointer;
}

.engraved {
  font-family: Futura;
  background-color: #000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: #333333aa 5px 7px 1px;
}

.App-setting-button-label {
  font-family: Futura;
  background-color: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: black;
  cursor: pointer;
}

.rule-desc {
  font-family: Future;
}

.sq0-rules {
  margin-right: 2vh;
  vertical-align: middle;
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;;
  border-color: #aaa;
  background: radial-gradient(ellipse at 35% 30%, #ddaa00 0%, #aa6600 70%);
  box-shadow: 0px 30px 30px #111d;
  height: 5vh;
  aspect-ratio: 1 / 1;
}

.sq1-rules {
  margin-right: 2vh;
  border-radius: 80% 20% 30% 20% / 30% 10% 20% 60%;
  border-style: solid;
  border-color: #222b;
  background: radial-gradient(ellipse at 35% 30%, #aaa 0%, #111d 70%);
  box-shadow: 0px 30px 30px  #111d;
  width: 10vh;
  aspect-ratio: 1 / 1;
}

.sq2-rules {
  margin-right: 2vh;
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;
  border-style: solid;
  border-color: #0044eebb;
  background: radial-gradient(ellipse at 35% 30%, #0cf 0%, #0033dddd 70%);
  box-shadow: 0px 30px 30px #03dd;
  width: 10vh;
  aspect-ratio: 1 / 1;
}

.sq-1-rules {
  margin-right: 2vh;
  border-radius: 80% 20% 30% 20% / 30% 10% 20% 60%;
  border-style: solid;
  border-color: white;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #111d 70%);
  box-shadow: 0px 30px 30px  #111d;
  width: 10vh;
  aspect-ratio: 1 / 1;
}

.sq-2-rules {
  margin-right: 2vh;
  border-radius: 30% 10% 20% 60% / 80% 20% 30% 20%;
  border-style: solid;
  border-color: white;
  background: radial-gradient(ellipse at 35% 30%, white 0%, #0033dddd 70%);
  box-shadow: 0px 30px 30px #03dd;
  width: 10vh;
  aspect-ratio: 1 / 1;
}

.sq4-rules {
  margin-right: 2vh;
  width: 10vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: solid;
  border-color: #fffa;
  background: linear-gradient(135deg, transparent 30%, #fafafa 50%, transparent 30%);
  background-size: 300%;
  box-shadow: 0px 30px 30px #dddd;
}

.control-up-rules {
  margin-right: 2vh;
  border-radius: 100% 100% 35% 35% / 100%;
  width: 8vh;
  background: radial-gradient(ellipse at 50% 30%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
}

.control-down-rules {
  margin-right: 2vh;
  border-radius: 100% 100% 35% 35% / 100%;
  width: 8vh;
  background: radial-gradient(ellipse at 50% 30%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  transform: rotate(180deg);
}

.control-left-rules {
  margin-right: 2vh;
  border-radius: 100% 35% 35% 100% / 100%;
  width: 8vh;
  background: radial-gradient(ellipse at 30% 50%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
}

.control-right-rules {
  margin-right: 2vh;
  border-radius: 100% 35% 35% 100% / 100%;
  width: 8vh;
  background: radial-gradient(ellipse at 30% 50%, white 0%, #bbbd 90%);
  filter: blur(5px);
  aspect-ratio: 1 / 1;
  transform: rotate(180deg);
}
